<%= form_with(model: comment, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <h5 class="title is-5"><%= current_user.username %> join the conversation!</h5>

  <div class="field">
    <%= form.label :comment, class: 'label' %>
    <%= form.text_area :message, rows: 8, cols: 40, required: true, type: 'text', class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Leave A Comment', class: 'button is-link is-fullwidth' %>
  </div>
<% end %>
