<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= render 'layouts/partials/rails_default' %>
  </head>

  <body class="main">
    <%= render 'layouts/partials/navbar' %>

    <div class="section">
      <div class="container">

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/partials/footer' %>
  </body>
</html>
