<h1 class="title is-1">Edit Your Profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="columns is-centered">
    <div class="column is-5">
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :username, class: 'label' %>
        <%= f.email_field :username, required: true, class: 'input',
                              type: 'test', placeholder: 'Your Name' %>
      </div>

      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, required: true, class: 'input',
                  type: 'email', placeholder: 'Your Email Address' %>
      </div>

      <div class="field is-grouped">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
        <em> (<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.password_field :password, class: 'input', type: 'password', placeholder: 'Choose a Password' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, class: 'input', type: 'password', placeholder: 'Confirm Your Password' %>
      </div>

      <div class="field is-grouped">
        <%= f.label :current_password, class: 'label' %><em> (we need your current password to confirm your changes)</em>
      </div>
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password",
              class: 'input', type: 'password', placeholder: 'We need your current password to confirm your changes' %>
      </div>

      <div class="actions">
        <%= f.submit 'Update Profile', class: 'button is-medium is-link is-fullwidth' %>
      </div>
      <br>
      <p>Bored of this? Delete your account, your comments and your post history!
        <%= link_to 'Delete User Profile', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-fullwidth' %>
      </p>

      <br>
      <p><%= link_to 'Cancel your changes', :back %></p>
    </div>
  </div>
<% end %>
